<div class="page-header">
	<h3><span class="glyphicon glyphicon-briefcase "></span> Shopping Cart: <small> V.P.</small></h3>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<form name="AddNewPurchase" class="form-inline" ng-submit=" AddNewPurchase.$valid && shoppingcart.add()" novalidate>
			<div class="form-group">
			<h5><b>Product:</b></h5>
			</div>
			<div class="form-group">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="product" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
						{{shoppingcart.product(shoppingcart.newPurchase.product).name}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="product_category">
						<li ng-repeat="prod in shoppingcart.productList track by prod.id">
							<a href="#" ng-click="shoppingcart.setProduct(shoppingcart.newPurchase,prod)" >
								{{prod.name}}
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<b>Category: </b> 
				<span class=" glyphicon glyphicon-{{shoppingcart.category(shoppingcart.newPurchase.category).icon }}"> </span> 
				{{shoppingcart.category(shoppingcart.newPurchase.category).name }}
			</div>
			<div class="form-group">
				<h5><b>Price:</b> {{shoppingcart.newPurchase.price | currency }}</h5>
			</div>

			<div class="input-group">
				<input type="number" ng-model="shoppingcart.newPurchase.amount" class="form-control" id="Amount" placeholder="Amount" required>
			</div>
			<div class="form-group" >
				<h5><b>Total:  </b> {{shoppingcart.newPurchase.price * shoppingcart.newPurchase.amount | currency }}</h5>
			</div>

			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>

		</form>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>id</th>
			<th>Product</th>
			<th>Category</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Total</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="purchasedItem in shoppingcart.purchasesList track by purchasedItem.id">
			<td>{{purchasedItem.id}}</td>
			<td>
				<span ng-hide="purchasedItem.editable">
					{{shoppingcart.product(purchasedItem.product).name}}
				</span>
				<div class="dropdown" ng-show="purchasedItem.editable">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="product" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
						{{shoppingcart.product(purchasedItem.product).name}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="product_category">
						<li ng-repeat="prod in shoppingcart.productList track by prod.id">
							<a href="#" ng-click="shoppingcart.setProduct(purchasedItem,prod)" >
								{{prod.name}}
							</a>
						</li>
					</ul>
				</div>
			</td>
			<td>
				<span class="glyphicon glyphicon-{{shoppingcart.category(purchasedItem.category).icon}}"></span>
				{{shoppingcart.category(purchasedItem.category).name}}
			</td>
			<td>{{purchasedItem.price | currency}}</td>
			<td>
				<form name="editPurchasedItemAmount" novalidate>
				  <span ng-hide="purchasedItem.editable">{{purchasedItem.amount}}</span>
				  <input type="number" ng-model = "purchasedItem.amount" ng-show="purchasedItem.editable" class="form-control input-sm" required>
				</form>
			</td>
			<td>{{purchasedItem.price * purchasedItem.amount | currency }}</td>
			<td>
				<button ng-click="shoppingcart.edit(purchasedItem)" ng-hide="purchasedItem.editable" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
				<button ng-click="shoppingcart.remove(purchasedItem.id)" ng-hide="purchasedItem.editable" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</button>
				<button ng-click="editPurchasedItemAmount.$valid && shoppingcart.save(purchasedItem)" ng-show="purchasedItem.editable" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-ok"></span> Save
				</button>
				<button ng-click="shoppingcart.cancelEdit(purchasedItem)" ng-show="purchasedItem.editable" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="panel panel-default">
	<div class="panel-body">
		<h4 class="text-right"><b >Altogether:</b> {{shoppingcart.calcAltogether() | currency }} </h4>
	</div>
</div>